/* Variables */
/* ------------------------------------------------- */
/* Root is a psuedo-selector that selects the root of the document - the HTML. You can scope a variable smaller than this, read documentation*/
:root {
    --highlightColor: #3affde;
}






/* Reset Styles */
/* ------------------------------------------------- */

html, body {
    height: 100%;
}

body {
    background: rgb(53, 56, 68);
    margin: 0;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    display: flex;
    /* Tell flexbox to flip axis - make X into Y, and make Y into X so that the website falls top to bottom */
    flex-direction: column;
}

h2 {
    color: #fff;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}






/* Animations */
/* ------------------------------------------------- */
@keyframes slide-n-fade-in {
    /* You can use "from" and "to" if you only have 2 keys */
    /* First key */
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    /* middle frames can be 0.x% */
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* @keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */






/* Custom Styles */
/* ------------------------------------------------- */
header {
    /* Aligns the direct children on a row left to right */
    display: flex;
    /* ONCE YOU SET DISPLAY TO FLEX, you can align items vertically and horizontally with flexbox properties */
    /* Align Items will align direct children on the y-axis (top-to-bottom) */
    align-items: center;
    /* Push the direct children as far apart as possible using the space between them (x-axis)*/
    /* justify-content: space-between; */
    background: #1b1c30e0;
    padding: 25px 7% 20px; 
}

header nav {
    margin-left: 150px;
}

/* Use pseudo element to add an element before an element in every instance specified */
header nav a:hover::before, header nav a:active::before {
    /* REQUIRE YOU SET OR ADD A CONTENT PROPERTY - can make an empty string if you don't want one */
    content: '';
    background-color: #fff;
    width: 100%;
    height: 2px;
    /* Set the header nav a to position relative to make this work */
    position: absolute;
    bottom: -1px;
}

header a.active {
    color: #ff498f;
}

header nav a {
    color: #fff;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
}

/* Selects all links except the last one */
/* header nav a:not( :last-child) {
    color: red;
} */

main {
    display: flex;
    /* Display flex puts everything on the same line; justfy content space between puts them as far apart as possible with all the space between */
    justify-content: space-between;
    padding: 45px 3% 0 10%;
    /* Class example style */
    /* ------------ */
    /* ------------ */
    /* Make 2 layers. Displays gradient on top of photo */
    /* background-repeat: no-repeat; 
    background-size: contain; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(../img/Nina_Avatar_round.png); */
    /* ------------ */
    /* ------------ */
    /* My style */
    background-image: url(../img/Nina_Avatar_round.png);
    background-color: rgb(53, 56, 68);
    background-repeat: no-repeat; 
    background-size: 35%;
    background-position: right 25% top 20%;
    /* Tell main to fill remaining space in it's column. */
    flex: 1;
}

section.info {
    padding: 100px 7% 0; 
}

section p {
    /* color: #3affc4; */
    color: var(--highlightColor);
}

section h1 {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0 0 25px;
    animation: slide-n-fade-in 1s;
}

section button {
    background: none;
    border: 3px solid var(--highlightColor);
    /* padding: 15px 25px; */
    padding: 0 0 0 15px;
    color: #fff;
    text-transform: uppercase;
    /* Change the cursor into a pointing finger when hovering over the button in the browser */
    cursor: pointer;
    /* The display and align items is aligning the text vertically */
    display: flex;
    align-items: center;
    /* Don't go outside of 0.2 - 0.7s, typically */
    transition: all 0.25s;
}

section button i {
    color: #1b1c30e0;
    font-size: 1.5rem;
    background: var(--highlightColor);
    padding: 10px 15px;
    margin-left: 15px;
}

section button:hover {
    background: #3aff934f;
    color: #fff;
    /* When a transform is animated, your GPU will activate and do it */
    transform: translateX(0.65em);
}

aside {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    /* Move relative to current position */
    position: relative;
    /* Move, relative to current position, move down from the top 50px */
    top: 50px;
    left: 100px;
}

aside p {
    color: var(--highlightColor);
    margin-right: 25px;
}

aside i {
    color: #fff;
    margin-right: 10px;
}

footer {
    background-color: #292a3dd0;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 30px 7%;
    color: rgb(180, 180, 180);
}

/* When making something that should be in front of the layers - like a help chat - make the z-index something crazy to avoid confusion  */
.chat {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 500;
}

.chat button {
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid var(--highlightColor);
    padding: 7px 15px;
    color: #fff;
    /* Make the element a circle */
    /* width: 75px;
    height: 75px;
    border-radius: 50%; */
    border-radius: 6px;
}






/* Media Queries */
/* ------------------------------------------------- */
/* Target computer screen, print-ready screen, or both. Don't specify for both */
@media (max-width: 700px) {
    main {
        background-image: url(../img/Nina_Avatar_round.png);
        background-color: rgb(53, 56, 68);
        background-repeat: no-repeat; 
        background-size: 35%;
        background-position: right 15% top 20%;
    }
}

